/* DASHBOARD */

#dashboard {
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;

    h1 {
        margin-top: 6.25rem;
    }

    .drager {
        border: 3px solid $graySlate;
        padding: 0.9375rem;
        height: 100%;
    }
}
