/* SPENDING */

.table-spending {
    margin-top: 0;

    .row-year {
        background-color: $grayPearl;
        margin-bottom: 1.875rem;

        .year-name {
            span {
                display: flex;
                font-size: 2rem;
                font-weight: 700;

                @media (min-width: 1200px) {
                    transform: rotate(-90deg);
                    font-size: 2rem;
                }
            }
        }

        @media (min-width: 1200px) {
            border: 0;
        }
    }

    .row-month {
        background-color: $grayAsh;

        .month-name {
            padding-top: 0.9375rem;
            padding-bottom: 0.9375rem;

            span {
                display: flex;
                font-size: 0.875rem;
                font-weight: 700;

                @media (min-width: 1200px) {
                    transform: rotate(-90deg);
                    font-size: 0.875rem;
                }
            }

            @media (min-width: 1200px) {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        @media (min-width: 1200px) {
            border: 0;
            margin-bottom: 1.875rem;
            padding-bottom: 1.875rem;
        }
    }

    .row-content {
        background-color: $white;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;

        @media (min-width: 1200px) {
            min-height: 6.25rem;
        }
    }

    .row-item {
        margin-bottom: 0.625rem;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;

        &.cancel {
            position: relative;

            &:after {
                content: '';
                width: calc(100% - 1.875rem);
                height: 2px;
                background-color: $black;
                position: absolute;
                top: 50%;
                left: 0.9375rem;
                transform: translateY(2px);
            }
        }

        @media (min-width: 768px) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .row-head {
    }

    @media (min-width: 1200px) {
        margin-top: 1.875rem;
    }
}
