/* FORM */

.form {

    .field {
        margin-bottom: 1.875rem;
    }

    label {
        margin: 0;
        float: left;
        color: $black;
        font-size: 1.125rem;
        font-weight: 700;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;

        .checkbox {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 2.8125rem;
            height: 2.8125rem;
            border: 2px solid $black;
            margin-right: 0.9375rem;

            &:checked {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:after {
                    content: '';
                    width: 1.875rem;
                    height: 1.875rem;
                    background-color: $black;
                    display: block;
                }
            }
        }

        form .label .checkbox-text {
            margin-left: -0.9375rem;
            padding-left: 1.875rem;
            font-size: 0.8125rem;
            line-height: 1rem;
        }
    }

    .input {
        width: 46rem;
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: none;
        line-height: 1.125rem;
        padding: 0.9375rem;
        height: 1.125rem;
        text-align: left;
        margin: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        font-weight: 500;
        font-size: 1.125rem;
        color: $grayGraphite;
        border: 2px solid $white;
        border-bottom: 2px solid $black;

        &.email,
        &.pass {
            text-transform: none;
        }

        &.amount + span {
            position: absolute;
            top: 0.1875rem;
            right: 0.1875rem;
            height: calc(100% - 0.375rem);
            font-size: 1.125rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            padding: 0 0.9375rem;
            z-index: 10;
            background-color: $white;
        }

        &.select {
            appearance: none;
            background: no-repeat right 0.9375rem center / auto;
            background-image: url("/public/images/svg/form/chevron.svg"),
            linear-gradient(
                    90deg,
                    $transparent calc(100% - 1.875rem),
                    $transparent calc(100% - 1.875rem),
                    $transparent calc(100% - 1.75rem),
                    $transparent calc(100% - 1.75rem)
            );
            padding-right: 3.125rem;
            text-overflow: ellipsis;
            padding-inline-end: inherit;

            &:focus-visible {
                background-image: url("/public/images/svg/form/chevron.svg"),
                linear-gradient(
                        90deg,
                        $transparent calc(100% - 1.875rem),
                        $graySilver calc(100% - 1.875rem),
                        $graySilver calc(100% - 1.75rem),
                        $transparent calc(100% - 1.75rem)
                );
            }
        }
    }

    .textarea {
        width: 100%;
        box-shadow: none;
        line-height: 1.125rem;
        padding: 0.9375rem;
        height: 11.75rem;
        text-align: left;
        max-width: 100%;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        resize: none;
        background-color: rgba(255, 255, 255, 0.8);
        font-weight: 100;
        font-size: 0.875rem;
        color: $grayGraphite;
        border: 2px solid $black;
    }

    .input:focus,
    .textarea:focus {
        background-color: rgba(255, 255, 255, 1);
        color: $black;
        border: 2px solid $black;
    }

    .input[placeholder]::-webkit-input-placeholder {
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .input[placeholder]:-moz-placeholder {
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .input[placeholder]::-moz-placeholder {
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .input[placeholder]:-ms-input-placeholder {
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .textarea::-webkit-input-placeholder {
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .textarea:-moz-placeholder { /* Firefox 18- */
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .textarea::-moz-placeholder { /* Firefox 19+ */
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .textarea:-ms-input-placeholder {
        color: $grayGraphite;
        font-weight: 500;
        text-align: left;
        opacity: 1;
    }

    .error-post:not(:empty) {
        width: 100%;
        display: inline-block;
        color: $red;
        margin-top: 0.3125rem;
        font-size: 0.75rem;
        font-weight: 700;
    }
}
