body {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    line-height: $line-height-base;
    background-color: $white;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    margin: 0;
}

h1, .h1 {
    font-size: 2rem;

    @media (max-width: 576px) {
        font-size: 1.75rem;
    }
}

h2, .h2 {
    font-size: 2rem;
    line-height: 1.4;

    @media (max-width: 576px) {
        font-size: 1.75rem;
    }
}

h3, .h3 {
    font-size: 1.25rem;

    @media (max-width: 576px) {
        font-size: 22px;
    }
}

h4, .h4 {
    font-size: 1.125rem;

    @media (max-width: 576px) {
        font-size: 1.125rem;
    }
}

h5, .h5 {
    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

h6, .h6 {
    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

a, a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}
